body{
    text-align: center;
    color:black;
    background-color:powderblue;
    width:1000px;
}

div.about {
    color: whitesmoke;
}

div.baking{
    background:darkblue;}

h1 {
    text-align: center;
    color:skyblue
}

div.currently {
   background-color: white
}

li {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    background-color: skyblue;
    color: white;
    margin: 0px;
    padding: 10px;
}
span.about{
    color: darkblue;
}

div.others {
    color: black;
}

div.main {
    margin:auto;
}




li:hover {
    background-color: white;
    color: blue;
}

@media only screen and (max-width: 600px) {
    body { background-color:powderblue}
}