body{
    text-align: center;
    color:black;
    background-color:rgb(209, 248, 253);
    width:1000px;
}

div.about {
    color: black; 
    margin:0px;
}

div.baking{
    color:blue;}

h1 {
    text-align: center;
    color:skyblue;

}

div.currently {
   color: darkblue
}

li {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    background-color: skyblue;
    color: white;
    margin: 0px;
    padding: 10px;
}
span.about{
    color: darkblue;
}

div.others {
    color: black;
}

div.main {
    margin:auto;
}

li:hover {
    background-color: white;
    color: blue;
}

@media only screen and (max-width: 600px) {
    body { background-color:powderblue}
}