body, html {
    height:100%;
}

body {
    background-color: whitesmoke;
    width: 1000px; 
}
img{width: 100%}
h1 {
    text-align: center;
}

.mainnav {
    padding: 0px;
    margin: 0px;
    float: inline-start;
   color: skyblue 
}

li {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    background-color: skyblue;
    color: white;
    margin: 0px;
    padding: 0px;
}

.subnav{
    color: darkblue;
}

.about {
    color: skyblue;
}

.currently {
    color: black;
}

.baking {
   background-color: blue;
   color: white
}


li:hover {
    background-color: white;
    color: blue;
}

@media screen and (max-width: 500px)